.other-controls-wrapper {
    display: flex;
    flex: 1 1;
    justify-content: end;
}

.share-button,
.add-button {
    margin: 0 7px;
}

@media all and (min-width: 1024px) {
    .other-controls-wrapper {
        display: none;
    }
}