.menu-wrapper {
    position: absolute;
    top: 60px;
    right: 11px;
    width: 157px;
    max-height: 229px;
    background: var(--white);
    z-index: 10;
}

.menu-list {
    padding: 0 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 0;
}

.menu-list-item {
    padding: 10px 0 11px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    text-align: center;
    color: var(--grey99);
    border-bottom: 1px solid var(--greyEC);
    cursor: pointer;
}

.menu-list-item:first-child {
    padding-top: 12px;
}

.menu-list-item:last-child {
    border: none;
    padding-bottom: 9px;
}

.menu-list-button {
    width: 100%;
    padding: 10px 23px 15px 23px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--grey66);
    background: var(--greyD9);
    border-radius: 0 0 3px 0;
}

@media all and (min-width: 1024px){
    .menu-wrapper {
        top: 90px;
        right: -17px;
    }
}