.search-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: var(--white);
    border-radius: 0 0 7px 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 0 18px;
}

.search-string-wrapper {
    display: block;
}

.search-string {
    width: 192px;
    height: 30px;
    padding: 0 0 0 31px;
    margin: 0 14px 0 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    background-color: var(--greyF4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}

.search-string::placeholder {
    color: var(--greyC4);
}

@media all and (min-width: 1024px) {
    .search-block {
        flex-grow: 1;
        justify-content: end;
        padding: 0;
        margin: 0;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        order: 2;
    }


    .search-block {
        margin: 0;
    }

    .search-string-wrapper {
        order: 2;
    }

    .search-string {
        width: 280px;
        height: 50px;
        padding: 0 0 0 56px;
        margin: 0 30px 0 0;
        font-size: 20px;
        line-height: 23px;
        background-color: var(--white);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
}