.user-box {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-box:hover .avatar-box{
    box-shadow: 0 0 0 1px var(--orange);
}

.user-box:hover span {
    color: var(--orange);
}

.avatar-box {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100%;
    box-shadow: none;
}

.avatar-box img,
.avatar-box svg {
    width: 100%;
    height: 100%;
}

.user-name {
    display: none;
}

@media all and (min-width: 1024px) {
    .user-box {
        order: 3;
        margin: 0;
    }

    .avatar-box {
        width: 60px;
        height: 60px;
    }

    .user-name {
        display: block;
    }
}