.header {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    align-items: center;
    padding: 40px;
}

@media (min-width: 1024px) {
    .header {
        position: relative;
        flex-flow: nowrap;
        padding: 40px 40px 69px 40px;
    }
}
