.card-wrapper {
    position: relative;
    padding: 22px 0 8px 0;
    margin: 0 0 20px 0;
    background-color: var(--white);
    border-radius: 7px;
}

@media all and (min-width: 1024px) {
    .card-wrapper {
        display: flex;
        background: transparent;
        padding: 0;
        margin: 0 0 40px 0;
    }
}